{% extends 'base.html' %}

{% block content %}

<h2>Dashboard</h2>

<p>Welcome {{ user.username }}</p>

<!--CANDIDATE DASHBOARD-->

{% if role == "candidate" %}

    <h3>Candidate Dashboard</h3>

    <a href="{% url 'view_candidate_profile' %}">View Profile</a><br><br>

    <a href="{% url 'candidate_profile' %}">Edit Profile</a>

    <hr>

<h4>Jobs</h4>

<a href="{% url 'browse_jobs' %}">
    Browse Jobs
</a>

<hr>

<h4>Coming Soon</h4>

<p>My Applications</p>

<p>Saved Jobs</p>
    <!--RECRUITER DASHBOARD-->

{% elif role == "recruiter" %}

<h3>Recruiter Dashboard</h3>

<h4>Profile</h4>

<a href="{% url 'view_recruiter_profile' %}">
    View Recruiter Profile
</a>

<br><br>

<a href="{% url 'recruiter_profile' %}">
    Edit Recruiter Profile
</a>

<hr>

<h4>Jobs</h4>

<a href="{% url 'view_job' %}">
    My Jobs
</a>

<br><br>

<a href="{% url 'add_job' %}">
    Post New Job
</a>

<hr>

<h4>Coming Soon</h4>

<p>Applications</p>

<p>Search Candidates</p>


<!-- COMPANY DASHBOARD -->
{% elif role == "company" %}

    <h3>Company Dashboard</h3>

    <a href="{% url 'view_company_profile' %}">View Company</a><br><br>

    <a href="{% url 'company_profile' %}">Edit Company</a>

{% endif %}

{% endblock %}